body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: rgb(226, 226, 226);
    color: #161c6b;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  #main-doc {
    margin-left: 220px;
    padding: 20px;
  }

  img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 130px;
    
    
  }

  #navbar{
    max-height: 100vh;
    overflow-y: auto;
    width: 200px;
    padding: 5px;
    padding-right: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(167, 166, 163, 0.5);
  }

  .nav-link{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 5px solid;
    background: linear-gradient(60deg, #006ac0, #ffc801);
    background-size: 200% 200%;
    transition: background-position 0.5s ease;
    padding: 10px 20px;
    height: 100px;
    text-decoration: none;
    border-radius: 20px;
    width: 65%;
    color: black;
    margin-bottom: 20px;
  }

  .nav-link:hover{
    background-position: right center;

  }

  code{
    color: #b37a00;
  }

  #navbar img{
    position: relative;
    left: 20px;
  }

  div{
    background-color: black;
    border-radius: 2px;
    border: 3px solid #545455;
    padding-left: 20px;
  }

  ul{
    font-size: 16px;
  }

  code{
    font-size: 15px;
  }

  .comentario{
    color: #91fa91c7;
  }

  .operador{
    color: white;
  }

  .variavel{
    color: #4a8ec5;
  }

  .funcao{
    color: #ffe894;
  }

  .letra{
    color: #dbac64c0;
  }

  .classe{
    color: #4ac59c;
  }

  .def{
    color: #4a8ec5;
  }

  .pass{
    color: #f851e2;
  }

  .init{
    color: #ffe894;
  }

.code-position{
  position: relative;
  left: 10px;
}

.code2{
  position: relative;
  left: 40px;
}

.code-relative{
  position: relative;
  left: 35px;
}

.code3{
  position: relative;
  left: 65px;
}

